/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/02/2022, 21:36:00
    Author     : wslou
*/

.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;
  font-size: 14px;
  padding-right: 35px;
  padding-top: 8px;
  text-align: right;
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}

.menu-opcoes ul {
  font-size: 15px;
}

.menu-opcoes a {
  color: #036;
}

body {
  color: #333;
  font-family: "lucida Sans Unicode", "lucida Grande", sans-serif;
}

.container {
  margin: 0 auto;
  width: 940px;
}

header {
  position: relative;
}

.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
}

.busca,
.menu-departamentos {
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 230px;
  float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
  margin: 10px;
}

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-departamentos {
  clear: left;
  margin-top: 10px;
  padding-bottom: 10px;
}

.menu-departamentos a {
  color: #333;
  text-decoration: none;
}

.busca input[type="search"] {
  width: 210px;
}

.destaque {
  margin-top: 10px;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
    }
